.navigation {
background-color: #333;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px
    right: 0px
}

.navigation li {
    display: inline-block;
    
}
.navigation ul {
    height: 50px;
    
}

.navigation a{
    text-decoration: none;
    color: #fff;
}

.navigation a:hover{
    color: #ff0000;
    
}
.blog-post {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    background-color:£1f1f1f;
    color: #fff;
    padding: 20px;
    border-color: #ff0000;
    border-width: 5px;
    border-style: solid;
    border-radius: 20px;
}
.blog-post h2:hover {
    transition: 1s;
    font-size: 5em;
    
}






.resize {
    width:100%
    max-width: 300px;
    height: auto;
    
}

.video-container {
    position: relative;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}







