.navigation {
    text-align: center;
    background-color: #000;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
}

.navigation li {
    padding-top: 20px;
    display: inline-block;
    padding-bottom: 20px;
    margin-right: 5px;
}

.navigation ul {
    margin: 0px;
    height: 50px;
}

.navigation li a {
    text-decoration: none;
    color: #fff;
}

.navigation li a:hover {
    color: #518427;
}
.h1 {
    text-align: center;
    color: #518427;
}
.resize {
   display: block;
    margin-left: auto;
    margin-right: auto
}